/*
 *    TTTTTTTTTTTTTT  EEEEEEEEEEEEEE  OOOOOOOOOOOOOO
 *    TTTTTTTTTTTTTT  EEEEEEEEEEEEEE  OOOOOOOOOOOOOO
 *          TT        EE              OO          OO
 *          TT        EE              OO          OO
 *          TT        EE              OO          OO
 *          TT        EEEEEEEEEE      OO          OO
 *          TT        EEEEEEEEEE      OO          OO
 *          TT        EE              OO          OO
 *          TT        EE              OO          OO
 *          TT        EE              OO          OO
 *          TT        EEEEEEEEEEEEEE  OOOOOOOOOOOOOO
 *          TT        EEEEEEEEEEEEEE  OOOOOOOOOOOOOO
 *
 *                  L'émulateur Thomson TO8
 *
 *  Copyright (C) 1997-2013 Gilles Fétis, Eric Botcazou, Alexandre Pukall,
 *                          Jérémie Guillaume, François Mouret
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/*
 *  Module     : win/dialog.rc
 *  Version    : 1.8.3
 *  Créé par   : Eric Botcazou 14/09/2000
 *  Modifié par: Eric Botcazou 26/10/2003
 *               François Mouret 27/09/2006 26/01/2010 10/08/2011
 *                               17/03/2012 20/09/2012
 *
 *  Définition des boîtes de dialogue.
 */


#ifndef SCAN_DEPEND
   #include <windows.h>
   #include <commctrl.h>
#endif

#include "win/dialog.rh"
#include "teo.h"


a           ICON   "src/win/thomson.ico"   // To force it to be the program icon
thomson_ico ICON   "src/win/thomson.ico"
empty_ico   ICON   "src/win/wgui/empty.ico"
open_ico    ICON   "src/win/wgui/open.ico"
thomson_bmp BITMAP "src/win/thomson.bmp"
panel_bmp   BITMAP "src/win/panel.bmp"
to8_bmp     BITMAP "src/win/to8.bmp"



1 VERSIONINFO 
FILEVERSION 1, 8, 3, 0
PRODUCTVERSION 1, 8, 3, 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040C04E4"
        {
            VALUE "Comments", "Voir le fichier LICENCE.TXT pour les conditions "\
                              "de distribution et le fichier README.TXT pour "\
                              "les remarques générales sur l'utilisation du logiciel."
            VALUE "CompanyName", "Teo Developers: Gilles Fétis, Eric Botcazou, "\
                                 "Alexandre Pukall, Jérémie Guillaume, François Mouret, "\
                                 "Samuel Devulder."
            VALUE "FileDescription", "Teo - l'émulateur TO8"
            VALUE "FileVersion", TEO_VERSION_STR
            VALUE "InternalName", "TEOW.EXE"
            VALUE "LegalCopyright", "Copyright © 1997-2013 Teo Developers"
            VALUE "OriginalFilename", "TEOW.EXE"
            VALUE "ProductName", "Teo"
            VALUE "ProductVersion", TEO_VERSION_STR
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x040C, 1252
    }
}


CONTROL_DIALOG DIALOGEX 0, 0, 266, 174
STYLE DS_MODALFRAME | DS_SETFONT | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION ""
FONT 8, "Tahoma"
{
    PUSHBUTTON      "&OK", IDOK, 218, 154, 40, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON      "", QUIT_BUTTON, 168, 154, 40, 14 
    CONTROL         "panel_bmp", -1, "static", SS_BITMAP, 0, 0, 320, 64
    PUSHBUTTON      "", RESET_BUTTON, 8, 18, 250, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON      "", COLDRESET_BUTTON, 8, 36, 250, 14
    CONTROL         "Tab1", CONTROL_TAB, "SysTabControl32", WS_TABSTOP, 8, 54, 250, 94
    PUSHBUTTON      "", ABOUT_BUTTON, 8, 154, 40, 14
}


SETTING_TAB DIALOGEX DISCARDABLE 0,0,200,200
STYLE WS_CHILD | DS_SETFONT | WS_VISIBLE | WS_TABSTOP
FONT 8, "Tahoma"
{
    LTEXT           "", SPEED_LTEXT, 66, 11, 38, 12
    AUTORADIOBUTTON "", EXACT_SPEED_BUTTON, 102, 10, 36, 12
    AUTORADIOBUTTON "", MAX_SPEED_BUTTON, 148, 10, 49, 12
    AUTOCHECKBOX    "", SOUND_CHECK, 72, 24, 34, 12
    CONTROL         "", VOLUME_BAR, TRACKBAR_CLASSA, TBS_HORZ | TBS_BOTTOM | TBS_AUTOTICKS, 107, 24, 72, 12
    AUTOCHECKBOX    "", INTERLACED_CHECK, 86, 40, 80, 14
}


MEMO7_TAB DIALOGEX DISCARDABLE 0,0,200,200
STYLE WS_CHILD | DS_SETFONT | WS_VISIBLE | WS_TABSTOP
FONT 8, "Tahoma"
{
    LTEXT           "m7", -1, 10, 12, 12, 14
    PUSHBUTTON      "", MEMO7_EJECT_BUTTON, 24, 10, 16, 13, BS_ICON
    COMBOBOX        MEMO7_COMBO, 44, 10, 168, 60, CBS_HASSTRINGS | CBS_DROPDOWNLIST | WS_VSCROLL
    PUSHBUTTON      "", MEMO7_MORE_BUTTON, 216, 10, 16, 13, BS_ICON, WS_EX_TRANSPARENT
}


K7_TAB DIALOGEX DISCARDABLE 0,0,200,200
STYLE WS_CHILD | DS_SETFONT | WS_VISIBLE | WS_TABSTOP
FONT 8, "Tahoma"
{
    LTEXT           "k7", -1, 10, 12, 12, 14
    PUSHBUTTON      "", K7_EJECT_BUTTON, 24, 10, 16, 13, BS_ICON, WS_EX_TRANSPARENT
    COMBOBOX        K7_COMBO, 44, 10, 140, 60, CBS_HASSTRINGS | CBS_DROPDOWNLIST | WS_VSCROLL
    PUSHBUTTON      "", K7_MORE_BUTTON, 188, 10, 16, 13, BS_ICON, WS_EX_TRANSPARENT
    AUTOCHECKBOX    "prot.", K7_PROT_CHECK, 208, 12, 50, 10
    LTEXT           "", K7_COUNTER_LTEXT, 10, 28, 40, 14
    EDITTEXT        K7_COUNTER_EDIT, 52, 26, 30, 12, ES_NUMBER | ES_RIGHT
    /* Ne pas utiliser UDS_SETBUDDYINT car il envoie un message EN_CHANGE avant
       le message WM_INITDIALOG du dialogue.  */
    CONTROL         "", K7_UPDOWN, UPDOWN_CLASSA, UDS_AUTOBUDDY | UDS_ALIGNRIGHT, 52, 26, 45, 14
    PUSHBUTTON      "", K7_REWIND_BUTTON, 90, 26, 72, 14
}


DISK_TAB DIALOGEX DISCARDABLE 0,0,200,200
STYLE WS_CHILD | DS_SETFONT | WS_VISIBLE | WS_TABSTOP
FONT 8, "Tahoma"
{
    LTEXT           "0:", -1, 10, 12, 12, 14
    LTEXT           "1:", -1, 10, 28, 12, 14
    LTEXT           "2:", -1, 10, 42, 12, 14
    LTEXT           "3:", -1, 10, 58, 12, 14
    PUSHBUTTON      "", DISK0_EJECT_BUTTON, 24, 10, 16, 13, BS_ICON, WS_EX_TRANSPARENT
    PUSHBUTTON      "", DISK1_EJECT_BUTTON, 24, 26, 16, 13, BS_ICON, WS_EX_TRANSPARENT
    PUSHBUTTON      "", DISK2_EJECT_BUTTON, 24, 40, 16, 13, BS_ICON, WS_EX_TRANSPARENT
    PUSHBUTTON      "", DISK3_EJECT_BUTTON, 24, 56, 16, 13, BS_ICON, WS_EX_TRANSPARENT
    COMBOBOX        DISK0_COMBO, 44, 10, 94, 60, CBS_HASSTRINGS | CBS_DROPDOWNLIST | WS_VSCROLL
    COMBOBOX        DISK1_COMBO, 44, 26, 94, 60, CBS_HASSTRINGS | CBS_DROPDOWNLIST | WS_VSCROLL
    COMBOBOX        DISK2_COMBO, 44, 40, 94, 60, CBS_HASSTRINGS | CBS_DROPDOWNLIST | WS_VSCROLL
    COMBOBOX        DISK3_COMBO, 44, 56, 94, 60, CBS_HASSTRINGS | CBS_DROPDOWNLIST | WS_VSCROLL
    PUSHBUTTON      "", DISK0_MORE_BUTTON, 142, 10, 16, 13, BS_ICON, WS_EX_TRANSPARENT
    PUSHBUTTON      "", DISK1_MORE_BUTTON, 142, 26, 16, 13, BS_ICON, WS_EX_TRANSPARENT
    PUSHBUTTON      "", DISK2_MORE_BUTTON, 142, 40, 16, 13, BS_ICON, WS_EX_TRANSPARENT
    PUSHBUTTON      "", DISK3_MORE_BUTTON, 142, 56, 16, 13, BS_ICON, WS_EX_TRANSPARENT
    RTEXT           "face", DISK0_SIDE_RTEXT, 158, 12, 20, 14
    RTEXT           "face", DISK1_SIDE_RTEXT, 158, 28, 20, 14
    RTEXT           "face", DISK2_SIDE_RTEXT, 158, 42, 20, 14
    RTEXT           "face", DISK3_SIDE_RTEXT, 158, 58, 20, 14
    COMBOBOX        DISK0_SIDE_COMBO, 180, 10, 24, 60, CBS_HASSTRINGS | CBS_DROPDOWNLIST | WS_VSCROLL
    COMBOBOX        DISK1_SIDE_COMBO, 180, 26, 24, 60, CBS_HASSTRINGS | CBS_DROPDOWNLIST | WS_VSCROLL
    COMBOBOX        DISK2_SIDE_COMBO, 180, 40, 24, 60, CBS_HASSTRINGS | CBS_DROPDOWNLIST | WS_VSCROLL
    COMBOBOX        DISK3_SIDE_COMBO, 180, 56, 24, 60, CBS_HASSTRINGS | CBS_DROPDOWNLIST | WS_VSCROLL
    AUTOCHECKBOX    "prot.", DISK0_PROT_CHECK, 208, 10, 50, 14
    AUTOCHECKBOX    "prot.", DISK1_PROT_CHECK, 208, 26, 50, 14
    AUTOCHECKBOX    "prot.", DISK2_PROT_CHECK, 208, 40, 50, 14
    AUTOCHECKBOX    "prot.", DISK3_PROT_CHECK, 208, 56, 50, 14
}


PRINTER_TAB DIALOGEX DISCARDABLE 0,0,200,200
STYLE WS_CHILD | DS_SETFONT | WS_VISIBLE | WS_TABSTOP
FONT 8, "Tahoma"
{
    RTEXT           "", PRINTER_CHOOSE_RTEXT, 4, 12, 48, 14
    COMBOBOX        PRINTER_CHOOSE_COMBO, 52, 10, 56, 60, CBS_HASSTRINGS | CBS_DROPDOWNLIST | WS_VSCROLL
    RTEXT           "", PRINTER_MORE_RTEXT, 110, 12, 52, 14
    EDITTEXT        PRINTER_MORE_EDIT, 164, 10, 52, 13, WS_GROUP | WS_TABSTOP | ES_READONLY
    PUSHBUTTON      "", PRINTER_MORE_BUTTON, 220, 10, 16, 13, BS_ICON, WS_EX_TRANSPARENT
    AUTOCHECKBOX    "", PRINTER_DIP_CHECK, 14, 30, 120, 14
    AUTOCHECKBOX    "", PRINTER_NLQ_CHECK, 138, 30, 120, 14
    RTEXT           "", PRINTER_OUTPUT_RTEXT, 36, 48, 42, 14
    AUTOCHECKBOX    "", PRINTER_RAW_CHECK, 82, 46, 36, 14
    AUTOCHECKBOX    "", PRINTER_TXT_CHECK, 122, 46, 36, 14
    AUTOCHECKBOX    "", PRINTER_GFX_CHECK, 162, 46, 50, 14
}


ABOUT_DIALOG DIALOGEX 0, 0, 258, 180
STYLE DS_MODALFRAME | DS_SETFONT | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION ""
FONT 8, "Tahoma"
{
    CONTROL         "to8_bmp", -1, "static", SS_BITMAP, 8, 8, 80, 280
    PUSHBUTTON      "&OK", IDOK, 140, 160, 40, 14, WS_GROUP | WS_TABSTOP
    CTEXT           "Teo (Windows/DirectX)\n Version "\
                    TEO_VERSION_STR, ABOUT_CTEXT_TITLE, 70, 6, 180, 42
    CTEXT           "", ABOUT_CTEXT_COPYRIGHT, 70, 50, 180, 50
    CONTROL         "", ABOUT_STATIC_LINK, "static", SS_NOTIFY | SS_CENTER, 70, 94, 180, 16
    CONTROL         "", ABOUT_STATIC_FORUM, "static", SS_NOTIFY | SS_CENTER, 70, 108, 180, 16
    CTEXT           "License GPL 2.0", ABOUT_CTEXT_LICENSE, 70, 130, 180, 16
}
