[Desktop Entry]
Name=Teo emulator
Name[fr]=Emulateur Teo
GenericName=Teo emulator
GenericName[fr]=Emulateur Teo
Comment=TO8D microcomputer emulator
Comment[fr]=Emulateur de l'ordinateur TO8D
Type=Application
MimeType=application/x-thomson-sap-image;application/x-hfe-floppy-image;application/x-raw-floppy-disk-image;application/x-thomson-cartridge-memo7;application/x-thomson-cassette;
Categories=GNOME;GTK;Game;Emulator;
Exec=/usr/games/teo
Terminal=false
Icon=net.sourceforge.Teo
X-Ayatana-Desktop-Shortcuts=Reset;

[Reset Shortcut Group]
Exec=/usr/games/teo --reset
Name=Teo emulator + cold reset
Name[fr]=Emulateur Teo + reset à froid
OnlyShowIn=Unity
