Package: teo-rom
Version: 1.8.1
Priority: optional
Section: base
Architecture: i386
Source: teo-rom
Depends: teo
Maintainer: gilles504@gmail.com
Homepage: http://nostalgies.thomsonistes.org/teo_home.html
Description: ROMs for Teo, the thomson TO8D emulator

