
BODY {
	COLOR: #333333;
	FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif;
	FONT-SIZE: 75%;	PADDING: 0px;
	MARGIN: 0px;
	TEXT-ALIGN: left;
}

H1 {
	FONT-WEIGHT: bold;
	COLOR: #000000;
}

H2 {
	FONT-WEIGHT: bold;
	COLOR: #3e4380;
}

H3 {
	FONT-WEIGHT: bold;
	COLOR: #444444;
}

P {
	FONT-WEIGHT: normal;
	TEXT-INDENT: 20px;
	TEXT-ALIGN: justify;
}

CODE {
	BACKGROUND-COLOR: #dddddd;
	COLOR: #000000;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	PADDING-TOP: 1px;
	PADDING-BOTTOM: 1px;
}

TD.ttitre {
	BACKGROUND: url(images/logoblank.jpg) repeat top;
}

TD.ttexte {
	PADDING: 20px;
}

A {
	FONT-WEIGHT: bold;
	COLOR: #7171b1;
	LETTER-SPACING: 0px;
	TEXT-DECORATION: underline;
}

A:link {}
A:visited {}
A:hover {}
A:active {}

