BODY {
 COLOR: #333333;
 FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif;
 FONT-SIZE: 100%;
 PADDING: 0px;
 MARGIN: 20px;
 TEXT-ALIGN: left;
}

H1 { FONT-SIZE: 200%; }
H2 { FONT-SIZE: 180%; }
H3 { FONT-SIZE: 160%; }
H4 { FONT-SIZE: 140%; }
H5 { FONT-SIZE: 120%; }
H6 { FONT-SIZE: 100%; }
P { FONT-SIZE: 95%; }
LI { FONT-SIZE: 95%; }
TD { FONT-SIZE: 95%; }
CODE { FONT-SIZE: 120%; }

A { COLOR: #0066cc; }

A:link { TEXT-DECORATION: none; }
A:visited { TEXT-DECORATION: none;}
A:hover { TEXT-DECORATION: underline;}
A:active { TEXT-DECORATION: none; }

