
[Desktop Entry]
Version=0.5.0
Name=Cc90hfe
GenericName=Cc90hfe
Exec=/usr/games/cc90hfe
Comment=Exchange between HFE file and Thomson disks
Comment[fr]=Transferts entre les fichiers HFE et les disquettes Thomson
Type=Application
Icon=cc90hfe-32x32
Categories=GNOME;GTK;Game;Emulator;

