[Desktop Entry]
Version=0.5.0
Name=Cc90hfe
GenericName=Cc90hfe
Comment=Create true images of double density Thomson disks
Comment[fr]=Créer des images fidèles des disquettes Thomson double densité
Type=Application
Categories=GNOME;GTK;Game;Emulator;
Exec=/usr/games/cc90hfe
Terminal=false
Icon=cc90hfe.png
